
/* 
    Created on : 10-Apr-2017, 12:46:17
    Author     : pqkallio
*/

#book_attributes {
    display:block;
}

#inproceedings_attributes {
    display:block;
}

#article_attributes {
    display:block;
}