<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Referenz-o-matic 3000</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:replace="fragments/navigation_fragment"></div>
        <h1>Lisää uusi kirja</h1>
        <form th:action="@{/new}" method="POST">
            <table id="form">
                <tr>
                    <td><label for="name">Viitteen tunnus</label></td>
                    <td><input type="text" id="reference_id" name="reference_id" required="required" /></td>
                </tr>
                <tr>
                    <td><label for="name">Teoksen nimi</label></td>
                    <td><input type="text" id="name" name="name" required="required" /></td>
                </tr>
                <tr>
                    <td><label for="author">Tekijä</label></td>
                    <td><input type="text" id="author" name="author" required="required" /></td>
                </tr>
                <tr>
                    <td><label for="year">Julkaisuvuosi</label></td>
                    <td><input type="number" id="year" name="year" min="1000" required="required" /></td>
                </tr>
                <tr>
                    <td><label for="publisher">Julkaisija</label></td>
                    <td><input type="text" id="publisher" name="publisher" required="required" /></td>
                </tr>
                <tr>
                    <td><label for="pages_start">Sivut</label></td>
                    <td><input type="number" id="pages_start" name="pages_start" min="0"/> - <input type="number" id="pages_end" name="pages_end" min="0"/></td>
                </tr>
                <tr>
                    <td><label for="year">Osoite</label></td>
                    <td><input type="text" id="address" name="address"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" id="submit" name="submit" value="Tallenna"/></td>
                </tr>
            </table>
        </form>
    </body>
</html>
