<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Referenz-o-matic 3000</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/css/references/new.css}" rel="stylesheet" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        
    </head>
    <body>
        <div th:replace="fragments/navigation_fragment"></div>
        <h1>Lisää uusi viite</h1>
        <form th:action="@{/new}" method="POST" id="form">
            <div id="type_div">
                <table>
                    <tr>
                        <td><label for="type">Viitteen tyyppi</label></td>
                        <td><select id="type" name="type">
                                <option value="book"> Kirja </option>
                                <option value="article"> Artikkeli </option>
                                <option value="inproceedings"> Julkaisu </option>
                            </select>   </td>
                    </tr>
                </table>
            </div>
            <div id="common_attributes">
                <table>
                    <tr>
                        <td><label for="reference_id">Viitteen tunnus</label></td>
                        <td><input type="text" class="required_input" id="reference_id" name="reference_id" required="required" /></td>
                        <td class="required_field">(pakollinen tieto)</td>
                    </tr>
                    <tr>
                        <td><label for="title">Nimi</label></td>
                        <td><input type="text" class="required_input" id="title" name="title" required="required" /></td>
                        <td class="required_field">(pakollinen tieto)</td>
                    </tr>
                    <tr>
                        <td><label for="author">Tekijä</label></td>
                        <td><input type="text" class="required_input" id="author" name="author" required="required" /></td>
                        <td class="required_field" id="author_required_text">(pakollinen tieto)</td>
                    </tr>
                    <tr>
                        <td><label for="year">Julkaisuvuosi</label></td>
                        <td><input type="number" class="required_input" id="year" name="year" min="1000" required="required" /></td>
                        <td class="required_field">(pakollinen tieto)</td>
                    </tr>
                </table>
            </div>
            <div id="book_attributes">
                <table>
                    <tr>
                        <td><label for="book_month">Julkaisukuukausi</label></td>
                        <td><input type="number" id="book_month" name="book_month" min="1" max="12" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="book_publisher">Julkaisija</label></td>
                        <td><input type="text" class="required_input" id="book_publisher" name="book_publisher" required="required" /></td>
                        <td class="required_field">(pakollinen tieto)</td>
                    </tr>
                    <tr>
                        <td><label for="book_edition">Painos</label></td>
                        <td><input type="text" id="book_edition" name="book_edition"/></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="book_volume">Osa (jos kirja osa kirjasarjaa)</label></td>
                        <td><input type="number" id="book_volume" name="book_volume"/></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="book_series">Kirjasarjan nimi</label></td>
                        <td><input type="text" id="book_series" name="book_series"/></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="book_address">Osoite</label></td>
                        <td><input type="text" id="book_address" name="book_address"/></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="book_note">Muita tietoja</label></td>
                        <td><input type="text" id="book_note" name="book_note"/></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div id="article_attributes">
                <table>
                    <tr>
                        <td><label for="article_journal">Julkaisu</label></td>
                        <td><input type="text" class="required_input" id="article_journal" name="article_journal" required="required"/></td>
                        <td class="required_field">(pakollinen tieto)</td>
                    </tr>
                    <tr>
                        <td><label for="article_volume">Osa</label></td>
                        <td><input type="number" class="required_input" id="article_volume" name="article_volume" min="1" required="required"/></td>
                        <td class="required_field">(pakollinen tieto)</td>
                    </tr>
                    <tr>
                        <td><label for="article_number">Numero</label></td>
                        <td><input type="number" id="article_number" name="article_number" min="1"/></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="article_pages_start">Sivut</label></td>
                        <td><input type="number" id="article_pages_start" name="article_pages_start" min="1"/> - <input type="number" id="article_pages_end" name="article_pages_end" min="1"/></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="article_month">Julkaisukuukausi</label></td>
                        <td><input type="number" id="article_month" name="article_month" min="1" max="12" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="article_note">Muita tietoja</label></td>
                        <td><input type="text" id="article_note" name="article_note"/></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div id="inproceedings_attributes">
                <table>
                    <tr>
                        <td><label for="inproceedings_booktitle">Teoksen nimi</label></td>
                        <td><input type="text" class="required_input" id="inproceedings_booktitle" name="inproceedings_booktitle" required="required"/></td>
                        <td class="required_field">(pakollinen tieto)</td>
                    </tr>
                    <tr>
                        <td><label for="inproceedings_editor">Toimittaja</label></td>
                        <td><input type="text" id="inproceedings_editor" name="inproceedings_editor" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="inproceedings_volume_number">Osa / numero</label></td>
                        <td><input type="number" id="inproceedings_volume_number" name="inproceedings_volume_number" min="1"/></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="inproceedings_series">Sarja</label></td>
                        <td><input type="text" id="inproceedings_series" name="inproceedings_series" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="inproceedings_pages_start">Sivut</label></td>
                        <td><input type="number" id="inproceedings_pages_start" name="inproceedings_pages_start" min="1"/> - <input type="number" id="inproceedings_pages_end" name="inproceedings_pages_end" min="1"/></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="inproceedings_address">Osoite</label></td>
                        <td><input type="text" id="inproceedings_address" name="inproceedings_address"/></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="inproceedings_month">Julkaisukuukausi</label></td>
                        <td><input type="number" id="inproceedings_month" name="inproceedings_month" min="1" max="12" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="inproceedings_organization">Organisaatio</label></td>
                        <td><input type="text" id="inproceedings_organization" name="inproceedings_organization" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="inproceedings_publisher">Julkaisija</label></td>
                        <td><input type="text" id="inproceedings_publisher" name="inproceedings_publisher" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="inproceedings_note">Muita tietoja</label></td>
                        <td><input type="text" id="inproceedings_note" name="inproceedings_note"/></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div id="submit_div">
                <table>
                    <tr>
                    <td></td>
                    <td><input type="submit" id="submit" name="submit" value="Tallenna"/></td>
                </tr>
                </table>
            </div>
        </form>
        <script th:src="@{/javascript/references/new.js}"></script>
    </body>
</html>
