<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Referenz-o-matic 3000</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>

    <body>
        <div th:replace="fragments/navigation_fragment"></div>
        <h1>Listataan kaikki viitteet:</h1>
        <p>Valitse haluamasi viitteet ja paina lataa</p>

        <form th:action="@{/download}" method="GET" id="form">
            <input type="text" id="downloadname" name="downloadname" value="sigproc"/>
            <input type="submit" id="download" name="download" value="Lataa"/>
        </form>
        <br/>
        <table>
            <tr>
                <th>Tunnus</th>
                <th>Tyyppi</th>
                <th>Viite</th>
                <th>Tunnisteet</th>
                <th></th>
            </tr>
            <tr th:each="reference : ${references}">
                <td th:text="${reference.referenceId}">reference id</td>
                <td th:switch="${reference.class.toString()}">
                    <span th:case="'class refApp.domain.Book'">Kirja</span>
                    <span th:case="'class refApp.domain.Article'">Artikkeli</span>
                    <span th:case="'class refApp.domain.Inproceedings'">Julkaisu</span>
                    <span th:case="*">Ei määritetty</span>
                </td>
                <td th:text="${reference.getPrettyString()}">string</td>
                <td th:text="${reference.getTagsForHtml()}">tags</td>
                <td>
                    <form action="/delete/" method="POST" id="form">
                        <input type="hidden" id="referenceId" name="referenceId" th:value="${reference.referenceId}"/>
                        <input type="submit" id="submit" name="submit" value="poista"/>
                    </form>
                </td>
            </tr>
        </table>
    </body>
</html>
