<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Referenz-o-matic 3000</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>

    <body>
        <div th:replace="fragments/navigation_fragment"></div>
        <h1>Listataan kaikki viitteet</h1>
        <table>
            <tr>
                <th>Viite</th>
                <th>Nimi</th>
                <th>Tekijä</th>
                <th>Julkaisuvuosi</th>
                <th>Julkaisija</th>
                <th>Sivut</th>
                <th>Osoite</th>
            </tr>
            <tr th:each="reference : ${references}">
                <td th:text="${reference.referenceId}">reference id</td>
                <td th:text="${reference.title}">book title</td>
                <td th:text="${reference.author.name}">author name</td>
                <td th:text="${reference.year}">publishing year</td>
                <td th:text="${reference.publisher}">publisher</td>
                <td th:text="${reference.pages}"></td>
                <td th:text="${reference.address}"></td>
            </tr>
        </table>

    </body>
</html>
